.DS_Store
.idea
.cache
.lsp-session-v1
.recentf
recentf
ac-comphist.dat
auto-save-list/
company-statistics-cache.el
el-get/
eln-cache/
elpa
elpa/
elpy
eshell
ido.last
straight/
tramp
transient

# Compiled
*.elc
projectile*

# Packaging
.cask
url/

# Backup files
*~
var/

# Undo-tree save-files
*.~undo-tree

# local llm through ollama/ellama:
ellama-sessions/

# don't push history
history

# machine-local state
network-security.data
recentf
projects
